URxvt.scrollStyle: rxvt
URxvt.scrollBar: false
URxvt.cursorBlink: true
URxvt.depth: 32
URxvt.transparent: true
URxvt.shading: 30
URxvt.font: xft:CozetteVector:size=9
XTerm*background: rgb:00/00/00
XTerm*foreground: rgb:a8/a8/00
rofi.lines: 10


URxvt.foreground:   #00b8ff
URxvt.background:   #282828
URxvt.cursorColor:  #cfcfc2


!black
URxvt.color0:       #282828
URxvt.color8:       #928374

!red
URxvt.color1:       #ff71ce
URxvt.color9:       #fb4934

!green
URxvt.color2:       #00ff9f
URxvt.color10:      #b8bb26

!yellow
URxvt.color3:       #fffb96
URxvt.color11:      #fabd2f

!blue
URxvt.color4:       #001eff
URxvt.color12:      #83a598

!magenta
URxvt.color5:       #bd00ff
URxvt.color13:      #b967ff

!cyan
URxvt.color6:       #689d6a
URxvt.color14:       #8ec07c

!white
URxvt.color7:       #a89984
URxvt.color15:       #ebdbb2
